<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.play.mapper.magnet_typesMapper">

    <resultMap id="BaseResultMap" type="com.play.entity.magnet_type">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="num" column="num" jdbcType="VARCHAR"/>
            <result property="types" column="types" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,num,types
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from magnet_type2
        where  id = #{id,jdbcType=INTEGER} 
    </select>
    <select id="selectAllTypes" resultType="java.lang.String">
        select distinct types from magnet_type2
    </select>
    <select id="selectVideosByType" resultType="java.lang.String" parameterType="map">
        select distinct num from magnet_type2
        where
            types in
        <foreach collection="array" item="types" index="index" open="(" close=")" separator=",">
            #{types}
        </foreach>

    </select>


</mapper>
